.artistprofile {
  margin-left: 230px;
  margin-top: -140px;
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.artistprofile__image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.artistprofile__middle {
  margin-left: 25px;
  width: 540px;
}
.artistprofile__name {
  font: 38px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: white;
  font-weight: bold;
}
.artistprofile__price {
  font: 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: white;
  font-weight: 500;
}
.artistprofile__type {
  font: 22px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: white;
  font-weight: 500;
}
.artistprofile__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.artistprofile__right > h2 {
  padding: 7px 30px;
  color: black;
  background-color: rgb(255, 245, 0);
  border-radius: 20px;
  font-family: CircularStd-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.artistprofile__right__icon {
  position: absolute;
  margin-left: -40px;
  margin-top: -8px;
}
