.video__title {
  color: white;
  font-size: 33px;
  font-weight: bold;
  margin-left: 65px;
  margin-bottom: 10px;
  margin-top: 6px;
}
.video__image {
  height: 360px;
  width: 260px;
  object-fit: cover;
  transition: transform 0.4s;
  border-radius: 15px;
}
.video__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: 55px;
  margin-top: -10px;
}
.video__posters::-webkit-scrollbar {
  display: none;
}
.video__image:hover {
  transform: scale(1.025);
}
.video__poster {
  height: 360px;
  width: 260px;
  padding: 5px 3px;
  position: relative;
}
.video__poster > .video__image__react {
  left: auto;
  right: 20px;
  margin-top: -3px;
}
.video__poster > .video__image__title {
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: bold;
  bottom: 17px;
  left: 20px;
}
.video__poster > .video__image__icon {
  width: 40px;
  height: 25px;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.video__image__icon {
  color: white;
}
